{{#partial "content"}}
    <div class="container">
        <div class="w-75">
            <form class="form-horizontal" role="form" method="post" data-form-confirm>
                {{> "alleys/new/newAlleyForm"}}
                {{> "alleys/forms/submitButton"}}
            </form>
        </div>
    </div>
{{/partial}}
{{> layout }}
