{{#partial "content"}}
    <form class="form-horizontal" method="post">
        {{> mor/newReservation/components/basicNewReservationForm}}
        {{> mor/newReservation/components/userLoginInput}}
        <input type="submit" class="btn btn-primary" value="{{lang.newReservationShowAvailableAlleysButton}}"/>
    </form>
    {{> mor/newReservation/components/availableAlleysList}}
    <div class="form-group">
        <small class="form-text text-muted">
            * {{lang.requiredFields}}
        </small>
    </div>
{{/partial}}
{{> layout }}