{{#block "alerts"}}
    {{#if errors}}
        <aside class="my-3">
            <div class="container">
                <div class="alert alert-danger font-weight-bold" role="alert">
                    {{#each errors}}
                        <div>
                            {{this}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </aside>
    {{/if}}

    {{#if infos}}
        <aside class="my-3">
            <div class="container">
                <div class="alert alert-success font-weight-bold" role="alert">
                    {{#each infos}}
                        <div>
                            {{this}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </aside>
    {{/if}}
{{/block}}
