{{#block "footer"}}
  <footer class="py-3 bg-primary text-center text-white">
      © 2019 {{lang.copyrightMessage}}: SSBD<a class="text-white" href="https://cdn.discordapp.com/attachments/582606518990536727/583415221167849518/unknown.png">03</a>
  </footer>
{{/block}}
