{{#partial "content"}}
  <div class="w-75 mx-auto">
    <form class="form-horizontal" method="post" data-form-confirm>
      <h2 class="mb-3">
        {{lang.editPassword}}
      </h2>
        {{> accounts/forms/passwordInput label=lang.currentPassword
              id="current-password" name="currentPassword"}}
        {{> accounts/forms/passwordInput label=lang.newPassword
              id="new-password" name="newPassword"}}
        {{> accounts/forms/passwordInput label=lang.confirmNewPassword
              id="confirm-new-password" name="confirmNewPassword"}}
        {{> accounts/forms/recaptcha }}
      <div class="form-group">
        <span class="form-text text-muted">
          * {{lang.requiredFields}}
        </span>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">
        {{lang.edit}}
      </button>
    </form>
  </div>
{{/partial}}

{{> layout }}
