{{#partial "content"}}
  <div class="container">
    <div class="w-75 mx-auto">
      {{#if errors}}
        <div class="alert alert-danger">
          {{#each errors}}
            <p class="font-weight-bold">
              {{this}}
            </p>
          {{/each}}
        </div>
      {{/if}}
      <form class="form-horizontal" role="form" method="post">
        <h2>
          Edit password
        </h2>
        <div class="form-group">
          <label for="current-password">
            Current password *
          </label>
          <input type="password" id="current-password" name="currentPassword" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <label for="new-password">
            New password *
          </label>
          <input type="password" id="new-password" name="newPassword" class="form-control">
        </div>
        <div class="form-group">
          <label for="confirm-new-password">
            Confirm new password *
          </label>
          <input type="password" id="confirm-new-password" name="confirmNewPassword" class="form-control">
        </div>
        <div class="form-group">
          <span class="form-text text-muted">
            * Required fields
          </span>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Edit
        </button>
      </form>
    </div>
  </div>
{{/partial}}

{{> layout }}
