{{#block "main"}}
  <li class="nav-item">
    <a class="nav-link" href="#">
      Create a reservation
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      Best scores
    </a>
  </li>
{{/block}}
