{{#block "main"}}
  <li class="nav-item">
    <a class="nav-link" href="#">
      {{lang.createAReservation}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      {{lang.bestScores}}
    </a>
  </li>
{{/block}}
