{{#block "userLoginInput"}}
    <div class="form-group justify-content-between">
        <label for="userLogin">*{{lang.newReservationUserLogin}}: </label>
        <input type="text" name="userLogin" required autofocus maxlength="16" value="{{this.data.newReservationDto.userLogin}}">
    </div>
{{/block}}