{{#block "emailInput"}}
    <aside class="my-3">
        <div class="input-group mb-3 mx-0">
            <div class="input-group-prepend">
                <span class="input-group-text">Email *: </span>
            </div>
            <input class="form-control" type="email" aria-label="Email input"
                   aria-describedby="basic-addon1" name="email" id="email" placeholder="Email"
                   required autofocus maxlength="50" value="{{email}}">
        </div>
    </aside>
{{/block}}
