{{#block "firstNameInput"}}
    <aside class="my-3">
        <div class="input-group mb-3 mx-0">
            <div class="input-group-prepend">
                <span class="input-group-text">{{lang.firstName}} *: </span>
            </div>
            <input class="form-control" type="text" aria-label="First name input"
                   aria-describedby="basic-addon1" name="firstName" id="firstName" placeholder="{{lang.firstName}}"
                   required autofocus maxlength="32" value="{{firstName}}">
        </div>
    </aside>
{{/block}}
