{{#block "lastNameInput"}}
    <aside class="my-3">
        <div class="input-group mb-3 mx-0">
            <div class="input-group-prepend">
                <span class="input-group-text">{{lang.lastName}} *: </span>
            </div>
            <input class="form-control" type="text" aria-label="Last name input"
                   aria-describedby="basic-addon1" name="lastName" id="lastName" placeholder="{{lang.lastName}}"
                   required autofocus maxlength="32" value="{{lastName}}">
        </div>
    </aside>
{{/block}}
