{{#block "loginInput"}}
    <aside class="my-3">
        <div class="input-group mb-3 mx-0">
            <div class="input-group-prepend">
                <span class="input-group-text">Login *: </span>
            </div>
            <input class="form-control" type="text" aria-label="Login input"
                   aria-describedby="basic-addon1" name="login" id="login" placeholder="Login"
                   required autofocus maxlength="16" value="{{login}}">
        </div>
    </aside>
{{/block}}
