{{#block "recaptcha"}}
    <aside class="my-3">
        <div class="g-recaptcha" data-sitekey="{{racaptchaSiteKey}}"></div>
    </aside>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{{/block}}

