{{#block "registerClientForm"}}
    <h2>Registration</h2>
    {{> accounts/forms/loginInput login=data.login }}
    {{> accounts/forms/firstNameInput firstName=data.firstName}}
    {{> accounts/forms/lastNameInput lastName=data.lastName}}
    {{> accounts/forms/emailInput email=data.email}}
    {{> accounts/forms/passwordInput label="Password" value=data.password id="password" name="password"}}
    {{> accounts/forms/passwordInput label="Confirm password" value=data.password id="confirmPassword" name="confirmPassword"}}
    {{> accounts/forms/phoneInput email=data.phoneNumber}}
{{/block}}