{{#partial "content"}}
    <div>
        <div class="alert alert-danger">
            <p class="display-4">
                Account not created. Error occurred.
            </p>
            <div class="border w-100 border-danger">
                <p>{{error}}</p>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout }}
