{{#block "registerClientForm"}}
    <h2>{{lang.register}}</h2>
    {{> accounts/forms/loginInput login=data.login }}
    {{> accounts/forms/firstNameInput firstName=data.firstName}}
    {{> accounts/forms/lastNameInput lastName=data.lastName}}
    {{> accounts/forms/emailInput email=data.email}}
    {{> accounts/forms/passwordInput value=data.password id="password" name="password" label=lang.password}}
    {{> accounts/forms/passwordInput value=data.password id="confirmPassword" name="confirmPassword" label=lang.confirmPassword}}
    {{> accounts/forms/phoneInput phone=data.phoneNumber}}
    {{> accounts/forms/recaptcha }}
{{/block}}