{{#partial "content"}}
    <div class="container">
        <div class="w-75">
            <form class="form-horizontal" role="form" method="post" data-form-confirm>
                {{> "accounts/register/registerClientForm"}}
                {{> "accounts/register/submitButton"}}
            </form>
        </div>
    </div>
{{/partial}}
{{> layout }}
