{{#partial "content"}}
    <div>
        <div class="alert alert-success">
            <p class="display-4">
                Account successfully created.
            </p>
        </div>
    </div>
{{/partial}}
{{> layout }}
