{{#partial "content"}}
    <div>
        <div class="alert alert-success">
            <p class="display-4">
                {{lang.accountConfirmed}} {{#if loggedIn}}{{lang.relog}}{{/if}}
            </p>
        </div>
    </div>
{{/partial}}
{{> layout }}
