{{#partial "content"}}
    <div>
        <div class="alert alert-warning">
            <p class="display-4">
                {{lang.accountAlreadyConfirmed}}.
            </p>
        </div>
    </div>
{{/partial}}
{{> layout }}
