{{#partial "content"}}
    {{#unless errors}}
        {{> "accounts/users/userDetails"}}
        <a href="#" type="button" class="btn btn-outline-dark btn-sm px-2 waves-effect show_login">
            <span class="value">Edit</span>
            <i class="far fa-edit ml-1"></i>
        </a>
    {{/unless}}
{{/partial}}
{{> layout }}
