<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <title>Registration status</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div th:if="${success == true}">
    <div class="alert alert-success">
        <p class="display-4">
            Account successfully created.
        </p>
    </div>
</div>
<div th:if="${success != true}">
    <div class="alert alert-danger">
        <p class="display-4">
            Account not created. Error occurred.
        </p>
        <div class="border w-100 border-danger">
            <p th:text="${message}"></p>
        </div>
    </div>
</div>
</body>
</html>