{{#block "submitButton"}}
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <span class="help-block">* {{lang.requiredFields}}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">{{lang.addAlley}}</button>
{{/block}}