<web-app
  version="3.1"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
>
  <display-name>SSBD03 Application Server | Bowling Alleys</display-name>

  <session-config>
    <session-timeout>
      15
    </session-timeout>
  </session-config>

  <!-- MOK -->
  <security-role>
    <description/>
    <role-name>ADMIN</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EMPLOYEE</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>CLIENT</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>CreateAccount</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>LockUnlockAccount</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>ChangeAccessLevel</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>ChangeOwnPassword</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>ChangeUserPassword</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditOwnAccount</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditUserAccount</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>Logout</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetAllUsersList</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetUserDetails</role-name>
  </security-role>

  <!-- MOT -->

  <security-role>
    <description/>
    <role-name>AddAlley</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EnableDisableAlley</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetAlleyGamesHistory</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>AddServiceRequest</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditServiceRequest</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetServiceRequests</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EnterGameResult</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetBestScoreForAlley</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditBallsCount</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditShoesCount</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>ShowUserScoreHistory</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetAlleysList</role-name>
  </security-role>

  <!-- MOR -->

  <security-role>
    <description/>
    <role-name>CreateReservation</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>CreateReservationForUser</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditReservation</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditReservationForUser</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>CancelReservation</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>CancelReservationForUser</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetReservationsForUser</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetReservationsForAlley</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>GetReservationDetails</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>AddCommentForReservation</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>EditCommentForReservation</role-name>
  </security-role>

  <security-role>
    <description/>
    <role-name>DisableComment</role-name>
  </security-role>


  <!--Constraints-->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All pages</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <description/>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- Access control for Administrators -->
  <security-constraint>
    <display-name>AdminConstr</display-name>
    <web-resource-collection>
      <web-resource-name>Admin pages</web-resource-name>
      <description/>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description/>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- access control for Employees -->
  <security-constraint>
    <display-name>EmployeeConstr</display-name>
    <web-resource-collection>
      <web-resource-name>Employee pages</web-resource-name>
      <description/>
      <url-pattern>/employee/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description/>
      <role-name>EMPLOYEE</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- access control for Clients -->
  <security-constraint>
    <display-name>ClientConstr</display-name>
    <web-resource-collection>
      <web-resource-name>Client pages</web-resource-name>
      <description/>
      <url-pattern>/client/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description/>
      <role-name>CLIENT</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- access control for Accounts -->
  <security-constraint>
    <display-name>AccountConstr</display-name>
    <web-resource-collection>
      <web-resource-name>Account pages</web-resource-name>
      <description/>
      <url-pattern>/account/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description/>
      <role-name>ADMIN</role-name>
      <role-name>EMPLOYEE</role-name>
      <role-name>CLIENT</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- access control for  login pages -->
  <security-constraint>
    <display-name>LoginConstr</display-name>
    <web-resource-collection>
      <web-resource-name>Login pages</web-resource-name>
      <description/>
      <url-pattern>/login/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <!-- access control for logout -->
  <security-constraint>
    <display-name>LogoutConstr</display-name>
    <web-resource-collection>
      <web-resource-name>Logout pages</web-resource-name>
      <description/>
      <url-pattern>/logout/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description/>
      <role-name>CLIENT</role-name>
      <role-name>ADMIN</role-name>
      <role-name>EMPLOYEE</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- MODELS FILTER -->
  <filter>
    <filter-name>UserModelFilter</filter-name>
    <filter-class>pl.lodz.p.it.ssbd2019.ssbd03.web.servlets.filters.UserModelFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>UserModelFilter</filter-name> <!-- mandatory -->
    <url-pattern>/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <!-- login method definition, references to login form and login error pages -->
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>ssbd03realm</realm-name>
    <form-login-config>
      <form-login-page>/login</form-login-page>
      <form-error-page>/login/error/</form-error-page>
    </form-login-config>
  </login-config>

  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>pl.lodz.p.it.ssbd2019.ssbd03.web.servlets.ErrorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>

  <error-page>
    <location>/ErrorServlet</location>
  </error-page>
</web-app>
