{{#partial "content"}}
    <div class="alert-danger container mt-5 p-5">
        <p class="display-2">{{lang.loginFailed}}</p>
        <h4>{{lang.loginFailed}}.</h4>
    </div>
{{/partial}}
{{> layout }}
