{{#partial "content"}}
    <div class="w-25 p-3 container mt-5 border bg-light">
        <form class="form-group" action="j_security_check">
            <label for="j_username">Login *</label>
            <input type="text" name="j_username" id="j_username" class="form-control" placeholder="Enter login" required/>
            <label for="j_password">Password *</label>
            <input type="password" name="j_password" id="j_password" class="form-control" placeholder="Enter password" required/>
            <small id="passwordHint" class="form-text text-muted">
                Please remember to never share your password with other people.
            </small>
            <small id="asteriskHint" class="form-text text-muted">
                * indicates necessary field
            </small>
            <input class="btn btn-primary mt-2" type="submit" value="Login"/>
        </form>
    </div>
{{/partial}}
{{> layout }}

